.identity_out {
	padding: 0 0.4rem;
	display: flex;
	flex-direction: inherit;
	margin-bottom: 10px;
	margin-top:64px;
	background: #fff;
}

.identity_out>div {
	display: flex;
	margin: 0.8rem 0;
	flex-direction: column;
	text-align: center;
	width: 50%;
}

.identity_out>div:first-child {
	margin-right: 0.4rem;
}

.identity_out>div img {
	width: 100%;
	height: 2.91rem;
	margin-bottom: 6px;
	border: 1px dashed #eee;
}

.identity_out>div p {
	margin: 0;
	font-size: 12px;
}

.identity_ipt {
	background: #fff;
	padding-left: 0.4rem;
}

.identity_ipt>div {
	border-bottom: 1px solid #F1F1F1;
	line-height: 1.17rem;
	font-size: 14px;
}

label {
	display: inline-block;
	width:30%;
	color: #666666;
}

input {
	width: 60%;
	border: 0;	
	line-height: 1,17rem;	
	font-size: 14px;	
	color: black;
	-webkit-user-select:auto;	
}
/*兼容各个浏览器的placeholder字体颜色*/
input::-webkit-input-placeholder { /* WebKit browsers */ 				
	/*color: #A5A5A5; 	*/			
} 

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	/*color: #A5A5A5; */
} 

input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	/*color: #A5A5A5; */
} 

input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	/*color: #A5A5A5; */
} 

p{
	color: #ADADAD;
	font-size: 12px;
}

.identity_bot {
	display: flex;
}

.identity_btn {
	flex: 1;
	border: 0;
	background: #63BBF3;
	margin: 0 0.4rem;
	line-height: 1.17rem;
	text-align: center;
	color: rgba(255, 255, 255, .5);
	border-radius: 1.17rem;
	font-size: 18px;
	padding: 0px;
}

.identity_img {
	width: 24px;
	height: 24px;
	display: inline-block;
}
/* 适配iphoneX顶部 */

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.identity_out {
		padding:0 15px;
		display: flex;
		flex-direction: inherit;
		margin-bottom: 10px;
		margin-top: 88px;
		background: #fff;
	}
}
/* 适配iphoneXsm顶部 */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
	.identity_out {
		padding:0 15px;
		display: flex;
		flex-direction: inherit;
		margin-bottom: 10px;
		margin-top: 88px;
		background: #fff;
	}
}
.identity_bot .my-btn{
	color: #ffffff
}
