body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}

@media screen and (width: 320px) {
	#banner,#main{
		width: 320px;
		margin: 0 auto;
		height: 170px;
	}
	#banner>img{
		width: 320px;
		height: 170px;
	}
	#main{
		width: 287px;
		margin: 0 auto;
		height: auto;
	}
}
@media screen and (width: 375px) {
	#banner{
		width: 375px;
		margin: 0 auto;
		height: 200px;
	}
	#banner>img{
		width: 375px;
		height: 200px;
	}
	#main{
		width: 335px;
		margin: 0 auto;
		height: auto;
	}
}
@media screen and (width: 414px) {
	#banner{
		width: 414px;
		margin: 0 auto;
		height: 220px;
	}
	#banner>img{
		width: 414px;
		height: 220px;
	}
	#main{
		width: 370px;
		margin: 0 auto;
		height: auto;
	}
}
@media screen and (width: 450px) {
	#banner{
		width: 450px;
		margin: 0 auto;
		height: 240px;
	}
	#banner>img{
		width: 450px;
		height: 240px;
	}
	#main{
		width: 403px;
		margin: 0 auto;
		height: auto;
	}
}

@media screen and (min-width: 450px) {
	body{
		width: 100%;
		height: 100%;
		background: #ababab;
	}
	#bargain_active{
		width: 450px;
		margin: 0 auto;
		height: auto;
		background: #eeecec;
	}
	#banner{
		width: 450px;
		margin: 0 auto;
		height: 240px;
	}
	#banner>img{
		width: 450px;
		height: 240px;
	}
	#main{
		width: 403px;
		margin: 0 auto;
		height: auto;
	}
}

#main{
	/*width: 90%;
	height: auto;*/
	background: #eeecec;
	padding: 5%;
	color: #333;
	margin: 0;
}
.m_header{
	height: 35%;
	width: 94%;
	border: 1px solid #dbd9d9;
	background: #fff;
	border-radius: 5px;
	padding: 3%;
}
.m_header>.mh_top{
	height: 30%;
	width: 94%;
	border-radius: 8px;
	background: #f1f1f1;
	padding: 3%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.m_header>.mh_top>img{
	width: 25%;
	height: 25%;
	border-radius: 5px;
}
.m_header>.mh_top>.mht_info{
	margin-left: 4%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.m_header>.mh_top>.mht_info>h4{
	margin-top: 2%;
}
.m_header>.mh_top>.mht_info>.mht_info_price{
	margin-top: 5%;
}
.m_header>.mh_center{
	height: 30%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.container{
	margin: 0 auto;
	width: 60%;
	padding: 5%;
}

.progress{
	background: grey;
	border-radius: 5px;
	height: 10px;
	
}
.progress::after{
	content:"";
	display: block;
	margin-top: 9px;
	width: 100%;
	
}
.progress .progress-bar {
	float: left;
	height: 100%;
	position: relative;
}
.progress .progress-bar span{
	display: block;
	width: 35px;
	height: 20px;
	background: #333;
	position: absolute;
	right: -20px;
	top: -28px;
	color: white;
	text-align:center;
	line-height: 20px;
	border-radius: 3px;
	font-size: 12px;
}
.progress .progress-bar span::before{
	position: absolute;
	font-family: fontawesome;
	content: "\f0d7";
	font-size: 24px;
	color: #333;
	top: 12px;
	right: 13px;
}
.m_header>.mh_center>.mhc_price_button{
	width: 55%;
	height: 40px;
	background: #E99401;
	border-radius: 20px;
	margin: 5% 0;
}
.m_header>.mh_center>.mhc_price_button>.mhc_bargain_button{
	width: 100%;
	height: 36px;
	background: #E9B001;
	text-align: center;
	line-height: 36px;
	border-radius: 18px;
	color: #fff;
	font-size: 14px;
}
.m_header>.mh_bottom{
	height: 30%;
	width: 100%;
	background: #fee2c9;
	border-radius: 8px;
}
.m_header>.mh_bottom>h4{
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	padding: 3% 0;
	border-bottom: 1px solid #dbd9d9;
}
.m_header>.mh_bottom>.mhb_person{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
}
.m_header>.mh_bottom>.mhb_person>.mhb_person_avator{
	display: flex;
	justify-content: center;
	align-items: center;
}
.m_center{
	height: 25%;
	width: 95%;
	background: #fff;
	border: 1px solid #dbd9d9;
	margin: 5% 0;
	padding: 0 2%;
	border-radius: 5px;
}
.m_center>h2{
	padding: 2% 0;
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid #DBD9D9;
}
.m_center>.mc_body{
	padding: 10px 5%;
}
.m_center>.mc_body>li{
	line-height: 20px;
	font-size: 14px;
}
.m_footer{
	height: 100px;
	width: 100%;
	border: 1px solid #dbd9d9;
	background: #fff;
	border-radius: 5px;
}