<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>transmitSDK</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/commonCss.css" rel="stylesheet" />
		<link href="../../css/withdraw_shop.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/lexible_css.css" />
		<script src="../../js/mui.min.js"></script>

	</head>

	<body>
		<div class="loading">
			<div class="loading-div">
				<div id="loading-svg"></div>
				<p class="loading-p">数据加载中</p>
			</div>
		</div>

		<header class="mui-bar mui-bar-nav mn-head">
			<span onclick="callCloseWebview()">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-fanhuijiantou-copy"></use>
            </svg>
        </span>
			<h1 class="mui-title">提现</h1>
		</header>

		<div class="withdrawals-index-m0">
			<div class="withdrawals-index-m1">
				<p id="mercUnsettled">0.00</p>
				<p>可提现金额(元)</p>
			</div>
		</div>
		<div style="margin-top:20px;"></div>
		<!-- 表单 -->
		<div id="withdrawals_qt">
			<script type="text/template" id="tpl">
				<%_.each(obj,function(e,i){%>
				<div class="withdrawals-index-m2">
					<div class="withdrawals-shop-con" onclick="toWithdrawalsShop(<%=e.flag%>,<%=e.merc_id%>,'<%=e.merc_nm%>')">
						<div class="mui-row" style="padding:10px 10px 10px 0;border-bottom:1px solid #efefef;">
							<div class="mui-col-xs-9 mui-col-sm-9">
								<!-- 开通成功 -->
								<% if(e.flag){ %>
								<p class="mendianmingcg">
									<span class="vis-hid">a</span>
									<span id="mendianming-cg" style="color:#666;"><%=addEllipsis(e.merc_nm,12)%></span>
								</p>
								<% } else { %>
								<!-- 开通失败 -->
								<p class="mendianmingsb">
									<span class="vis-hid">a</span>
									<span id="mendianming-sb" style="color:#666;"><%=addEllipsis(e.merc_nm,12)%></span>
								</p>
								<% } %>
							</div>
							<div class="mui-col-xs-3 mui-col-sm-3" style="text-align:right;">
								<!-- 开通成功 -->
								<% if(e.flag){ %>
								<svg class="icon" aria-hidden="true">
									<use xlink:href="#icon-arrow-left-copy"></use>
								</svg>
								<% } else { %>
								<!-- 开通失败 -->
								<button type="button" onclick="applyOpenWithdraw(<%=i%>)" class="mui-btn mui-btn-outlined blue-btn" style="font-size:13px;padding:2px 5px;">申请开通</button>
								<% } %>
							</div>
						</div>
						<div class="mui-row" style="padding:18px 13px 12px 13px;">
							<div class="mui-col-xs-7 mui-col-sm-7">
								<!-- 开通成功 -->
								<% if(e.flag){ %>
								<p id="ketxje">
									<%=formatNum(e.mercIndexInfo_obal)%>
								</p>
								<p class="withdrawals-gray-text">可提现金额(元)</p>
								<% } else { %>
								<!-- 开通失败 -->
								<p class="vis-hid">zw</p>
								<p class="withdrawals-gray-text">暂未开通提现功能</p>
								<% } %>
							</div>
							<!--<div class="mui-col-xs-5 mui-col-sm-5" style="text-align:right;">
								<p id="bketxje">
									<%=formatNum(e.mercIndexInfo_cbal)%>
								</p>
								<p class="withdrawals-gray-text">不可提现金额(元)</p>
							</div>-->
						</div>
					</div>
				</div>
				<% }) %>
			</script>
		</div>

		<script src="../../js/utils.js"></script>
		<script src="../../js/api.js"></script>
		<script src="../../js/storage.js"></script>
		<script src="../../js/zepto.min.js"></script>
		<script src="../../js/underscore-min.js"></script>
		<script src="../../js/bodymovin.js"></script>
		<script src="../../js/loadingConfig.js"></script>
		<script src="../../js/font_489463_a1dgzv2r3pntrzfr.js"></script>
		<script type="text/javascript" src="../../js/flexible.js"></script>
		<script src="../../js/raven.min.js" crossorigin="anonymous"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();

			Raven.config('http://3afafcc6e47a461eb7644f38e1f72553@sentry.starpos.com.cn:9000/18').install()
			var resAllList, mercIndexInfo = [];
			var mercUnsettled = 0.00;
			var is_click = false;
			var face_flag = sessionFetch("face_flag")
			if(face_flag == "1") {
				mui.alert("商户开通成功")
			}
			sessionRemove("face_flag")
			//检查参数
			if(checkParam(getUrlParams("usr_no")), "usr_no" && checkParam(getUrlParams("usr_typ")), "usr_typ" && checkParam(getUrlParams("token_id")), "token_id" && checkParam(getUrlParams("version")), "version" && checkParam(getUrlParams("opSys")), "opSys") {
				var user_info = {
					"usr_no": getUrlParams("usr_no"),
					"usr_typ": getUrlParams("usr_typ"),
					"token_id": getUrlParams("token_id"),
					"version": getUrlParams("version"),
					"opSys": getUrlParams("opSys")
				}
				sessionSave("user_info", user_info);
				if(cpr_version(getUrlParams("version"), "2.6.2")) {
					//获取用户余额信息
					getWithdrawalsInfo();
				} else {
					mui.alert("请升级到最新版本", "", "确定", function() {
						callCloseWebview()
					});
				}
			}
			var isColseToast = sessionFetch("isColseToast")
			var tplRender = _.template($("#tpl").html());

			function getWithdrawalsInfo() {
				mercUnsettled = 0.00
				var data = {
					"contentTyp": "application/json",
					"characterSet": "GBK",
					"sys_cnl": "app",
					"version": user_info.version,
					"opSys": user_info.opSys,
					"token_id": user_info.token_id,
					"usr_no": user_info.usr_no,
					"usr_typ": user_info.usr_typ,
					"merc_id": ""
				};

				mui(".loading")[0].style.display = "block";
				mui.ajax(API.GETENCHASHINFO, {
					data: data,
					dataType: 'json',
					type: 'post',
					contentType: "application/json; charset=utf-8",
					success: function(res) {
						mui(".loading")[0].style.display = "none";
						console.log(res);
						if(res.repCode ===
							"000000") {
							resAllList = [];
							mercIndexInfo = [];
							$("#withdrawals_qt").html("");
							if(res.mercList && res.mercList.length !== 0) {
								resAllList = res.mercList.sort(ArrObjcompare('merc_id'));
								var mercIndexInfo_mercid = [];
								var mercIndexInfo_obal = [],
									mercIndexInfo_cbal = [];

								for(var i = 0; i < resAllList.length; i++) {
									//待结算总金额
									if(resAllList[i].avl_balance != null) {
										mercUnsettled = accAdd(mercUnsettled, Number(resAllList[i].avl_balance))
									}
									//									if(resAllList[i].unavl_balance != null) {
									//										mercUnsettled = accAdd(mercUnsettled, Number(resAllList[i].unavl_balance))
									//									}
									//所有商户信息
									mercIndexInfo_mercid.push(resAllList[i].merc_id);

								}

								/*if(mercUnsettled < 0) {
									location.reload();
									mui.toast("数据出错，正在重新加载")
								} else {*/
								mercUnsettled = formatNum(mercUnsettled);
								mui("#mercUnsettled")[0].innerText = mercUnsettled;

								console.log("mercUnsettled: " + mercUnsettled);
								//								}

								// console.log(mercIndexInfo_mercid);

								//所有商户
								mercIndexInfo_mercid = arrayRemoval(mercIndexInfo_mercid);
								console.log("所有商户： " + mercIndexInfo_mercid);

								//归类商户
								for(var i = 0; i < resAllList.length; i++) {
									//循环匹配商户
									var mercIndexInfo_isOpen = false;
									for(var j = 0; j < mercIndexInfo_mercid.length; j++) {
										if(resAllList[i].merc_id == mercIndexInfo_mercid[j]) {
											if(resAllList[i].flag && resAllList[i].flag === "0") {
												// console.log("开通商户+1");
												if(mercIndexInfo_obal[j] === undefined) {
													mercIndexInfo_obal[j] = 0.00;
												}
												if(mercIndexInfo_cbal[j] === undefined) {
													mercIndexInfo_cbal[j] = 0.00;
												}
												if(resAllList[i].avl_balance != null) {
													mercIndexInfo_obal[j] = accAdd(mercIndexInfo_obal[j], Number(resAllList[i].avl_balance))
												}
												if(resAllList[i].unavl_balance != null) {
													mercIndexInfo_cbal[j] = accAdd(mercIndexInfo_cbal[j], Number(resAllList[i].unavl_balance))
												}
												//												if(isTakeEffect(resAllList[i].effect_date)) {
												//													mercIndexInfo_obal[j] = accAdd(mercIndexInfo_obal[j], Number(resAllList[i].balance))
												//													//mercIndexInfo_obal[j] += Number(resAllList[i].balance);
												//												} else {
												//													if(mercIndexInfo_cbal[j] === undefined) {
												//														mercIndexInfo_cbal[j] = 0.00;
												//													}
												//													mercIndexInfo_cbal[j] = accAdd(mercIndexInfo_cbal[j], Number(resAllList[i].balance))
												//												}
												mercIndexInfo_isOpen = true;
											} else {
												// console.log("未开通商户+1");
												if(mercIndexInfo_cbal[j] === undefined) {
													mercIndexInfo_cbal[j] = 0.00;

												}
												mercIndexInfo_cbal[j] = accAdd(mercIndexInfo_cbal[j], Number(resAllList[i].unavl_balance))
											}
											if(mercIndexInfo[j] != null && mercIndexInfo[j].flag) {
												mercIndexInfo_isOpen = true;
											}
											mercIndexInfo[j] = {
												"merc_id": resAllList[i].merc_id,
												"merc_nm": resAllList[i].merc_nm,
												"mercIndexInfo_obal": mercIndexInfo_obal[j] || 0.00,
												"mercIndexInfo_cbal": mercIndexInfo_cbal[j] || 0.00,
												"flag": mercIndexInfo_isOpen
											};

										} else {
											console.log("无匹配商户");
										}
									}
								}
								//排序
								mercIndexInfo.sort(ArrObjcompare2('flag'));
								console.log("排序后mercIndexInfo: ", mercIndexInfo);
								$("#withdrawals_qt").append(tplRender(mercIndexInfo));
							} else {
								console.log("res.mercList不合法");
							}
						} else if(res.repCode === "STM998") {
							mui.alert(res.repMsg, "", "确定", function() {
								callLogOutApp();
							});
						} else {
							mui.alert(res.repMsg);
							// window.location.href = "../common_pages/error_page.html?error_type=resError&error_code=" + res.repCode + "&error_msg=" + res.repMsg;
						}
						if(isColseToast != null && isColseToast == "1") {
							mui.toast("关闭提现成功")
						}
						sessionRemove("isColseToast")
						isColseToast = null
					},
					error: function(xhr, type, errorThrown) {
						mui(".loading")[0].style.display = "none";
						console.log(type);
						console.log(xhr);
						mui.alert("服务器开小差啦，请稍后再试");
						// window.location.href = "../common_pages/error_page.html?error_type=serviceError";
					}
				});
			};

			//申请开通
			function applyOpenWithdraw(num) {
				// console.log(num);
				//				mui(".blue-btn")[0].disabled = true
				//				console.log("111111111")
				//				setTimeout(function() { //设置定时器function可使用变量代替
				//					mui(".blue-btn")[0].disabled = false
				//				}, 2000)
				console.log(is_click)
				if(!is_click) {
					is_click = true
					console.log("111111")
					var openWithdrawMerc = mercIndexInfo[num].merc_id;
					console.log("开通商户号:" + openWithdrawMerc);
					var openWithdrawShop = [];
					for(var i = 0; i < resAllList.length; i++) {
						if(resAllList[i].merc_id === openWithdrawMerc) {
							openWithdrawShop.push(resAllList[i].stoe_id)
						}
					}
					arrayRemoval(openWithdrawShop);
					console.log("开通门店数组:", openWithdrawShop);

					var stoeList = [];
					for(var i = 0; i < openWithdrawShop.length; i++) {
						stoeList.push({
							"merc_id": openWithdrawMerc,
							"stoe_id": openWithdrawShop[i]
						})
					}
					var data = {
						"contentTyp": "application/json",
						"characterSet": "GBK",
						"sys_cnl": "app",
						"version": user_info.version,
						"opSys": user_info.opSys,
						"token_id": user_info.token_id,
						"usr_no": user_info.usr_no,
						"usr_typ": user_info.usr_typ,
						"opr_flg": "1",
						"stoeList": stoeList,
						"tot_cnt": stoeList.length.toString() || "0"
					}
					console.log(data);

					mui(".loading")[0].style.display = "block";
					mui.ajax(API.GETENCHASHAUTH, {
						data: data,
						dataType: 'json',
						type: 'post',
						contentType: "application/json; charset=utf-8",
						success: function(res) {
							mui(".loading")[0].style.display = "none";
							is_click = false
							console.log(res);
							if(res.repCode === "000000") {
								if(res.mercList && res.mercList.length > 0) {
									var isSingleOpen = res.mercList.some(function(item, index, arr) {
										return item.sts === "0"
									});
									console.log("isSingleOpen", isSingleOpen);

									if(isSingleOpen) {
										var data = {
											"contentTyp": "application/json",
											"characterSet": "GBK",
											"sys_cnl": "app",
											"version": user_info.version,
											"opSys": user_info.opSys,
											"token_id": user_info.token_id,
											"usr_no": user_info.usr_no,
											"usr_typ": user_info.usr_typ,
											"merc_id": openWithdrawMerc
										}
										console.log(data);
										mui.ajax(API.FACETOFACE, {
											data: data,
											dataType: 'json',
											type: 'post',
											contentType: "application/json; charset=utf-8",
											success: function(res) {
												is_click = false
												console.log(res);
												if(res.repCode === "000000") {
													if(res.auth_sts != "1") {
														mui.openWindow({
															url: 'open_success.html?merc_id=' + openWithdrawMerc
														});
													} else {
														mui.alert("商户开通成功！", " ", "确定", function() {
															getWithdrawalsInfo();
														});
													}

												} else if(res.repCode === "STM998") {
													mui.alert(res.repMsg, "", "确定", function() {
														callLogOutApp();
													});
												} else if(res.repCode === "stm001") {
													mui.alert(res.repMsg, "", "确定", function() {
														javascript: history.back(-1);
													});
												} else {
													mui.alert(res.repMsg);
													// window.location.href = "../common_pages/error_page.html?error_type=resError&error_code=" + res.repCode + "&error_msg=" + res.repMsg;
												}
											},
											error: function(xhr, type, errorThrown) {
												console.log(type);
												console.log(xhr);
												mui.alert("服务器开小差啦，请稍后再试");
												// window.location.href = "../common_pages/error_page.html?error_type=serviceError";
											}
										});

									} else {
										console.log("失败")
										mui.openWindow({
											url: 'open_fail.html'
										});
									}
								} else {
									mui.alert("商户开通失败！", " ", "确定", function() {
										getWithdrawalsInfo();
									});
								}
							} else if(res.repCode === "STM999") {
								mui.alert(res.repMsg);

							} else if(res.repCode === "STM998") {
								mui.alert(res.repMsg, "", "确定", function() {
									callLogOutApp();
								});
							} else {
								mui.alert(res.repMsg);
								// window.location.href = "../common_pages/error_page.html?error_type=resError&error_code=" + res.repCode + "&error_msg=" + res.repMsg;
							}
						},
						error: function(xhr, type, errorThrown) {
							mui(".loading")[0].style.display = "none";
							is_click = true
							console.log(type);
							console.log(xhr);
							mui.alert("服务器开小差啦，请稍后再试");
							// window.location.href = "../common_pages/error_page.html?error_type=serviceError";
						}
					});
				}
			};
			//进入详情页
			function toWithdrawalsShop(open_status, merc_id, merc_nm) {
				// console.log("open_status: "+open_status+"merc_id: "+merc_id+"merc_nm: "+merc_nm);

				if(open_status) {
					mui.openWindow({
						url: 'withdraw_shop.html?merc_id=' + merc_id + "&merc_nm=" + merc_nm
					});
				}

			};
			/*function goToidentity(){
				var user_info = sessionFetch("user_info");
				mui.openWindow({
					url: 'identity.html?usr_no=' + user_info.usr_no + '&usr_typ=' + user_info.usr_typ + '&token_id=' + user_info.token_id + '&version=' + user_info.version + '&opSys=' + user_info.opSys
				});
			}*/
		</script>

	</body>

</html>