<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/commonCss.css" rel="stylesheet" />
		<link href="../../css/withdraw_shop.css" rel="stylesheet" />

		<script src="../../js/mui.min.js"></script>
		<style>
			.mui-toast-container {
				bottom: 50% !important;
			}
		</style>
	</head>

	<body>
		<!--loading图-->
		<div class="loading">
			<div class="loading-div">
				<div id="loading-svg"></div>
				<p class="loading-p">数据加载中</p>
			</div>
		</div>
		<!--头部-->
		<header class="mui-bar mui-bar-nav mn-head">
			<span onclick="javascript :history.back(-1);">
	            <svg class="icon" aria-hidden="true">
	                <use xlink:href="#icon-fanhuijiantou-copy"></use>
	            </svg>
	        </span>
			<h1 class="mui-title">提现</h1>
			<a class="heade-right-side" id='backBtn' onclick="openWithdrawDialog()">
				<img src="../../img/@2xtixian_icon_edit.png" / style="width: 22.5px;">
			</a>
		</header>
		<!--main-->
		<div class="div_main" id="div_main">

			<div class="cash-con" style="text-align: left;">
				<p style="margin-bottom:22px;">
					<img src="../../img/@2xicon_shop_default.png" class="little-icon" width="13px">
					<span id="wd_mercnm"></span>
				</p>
				<p id="merc_Unsettled">0.00</p>
				<p style="color:#fff;font-size:13px;opacity:0.7;margin-bottom:21px;float: left;">可提现金额(元)</p>
				<p style="color:#fff;font-size:12px;text-align:right;margin-bottom:0;">该商户下共<span id="card_length">0</span>张结算卡</p>
			</div>
			
			<!--提现区域-->
			<div class="mui-row" style="text-align:center;background:#fff;font-size:16px;padding:18px 0;margin-top:15px ;">
				
				<!--<div class="mui-col-xs-6 mui-col-sm-6" style="border-right:1px solid #CBCCCD;" onclick="toWithDrawalsIntro()">
					<img src="../../img/@2xicon_tixian_shuoming.png" width="18px;" style="vertical-align:sub;">
					<span style="padding-left:3px;">提现说明</span>
				</div>
				<div class="mui-col-xs-6 mui-col-sm-6" onclick="toWithDrawalsDetail()">
					<img src="../../img/@2xicon_tixian_mingxi.png" width="17px;" style="vertical-align:sub;">
					<span style="padding-left:3px;">提现明细</span>
				</div>-->
				
				<div class="mui-col-xs-6 mui-col-sm-6" style="border-left: 0;" onclick="toWithDrawalsIntro()">
					<img src="../../img/@2xicon_tixian_shuoming.png" width="18px;" style="vertical-align:sub;">
					<span>提现说明</span>
				</div>
				<div class="mui-col-xs-6 mui-col-sm-6" onclick="toWithDrawalsDetail()">
					<img src="../../img/@2xicon_tixian_mingxi.png" width="17px;" style="vertical-align:sub;">
					<span>提现明细</span>
				</div>
				
				<!--自动提现-->
				<div class="mui-col-xs-6 mui-col-sm-6">
					<!--开关-->
					<div id="kaiguan">				
						<div>
							<div>
								<div id="mySwitch" class="mui-switch mui-switch-mini" style="width: 30px;height: 18px;margin:-3px auto 5px;border-color: #CBCBCB;background: #E6E6E6;">
								    <div class="mui-switch-handle" style="width: 16px;height: 16px;"></div>
								</div>
							</div>
						</div>
						<div>自动提现</div>
					</div>
					
					<!--弹出框-->
					<div id="box">
						<div class="inner">
							<span>确定开通提现功能吗？</span>
							<p>自动提现功能可针对当前商户下超过2000元(包含2000元）的交易自动发起单笔提现。</p>
							<div class="inner_btn">
								<div type="button" id="abrogate" style="border-right: 1px solid #ddd;">取消</div>
								<div type="button" id="ascertain" style="color:#25A2F2">确定</div>
							</div>		
						</div>					
					</div>			
				</div>
				<div class="succ">
					<img src="../../img/toast_icon_right@2x.png"/>
					<span>开通成功</span>
				</div>
			</div>
			

			<div id="withdrawals_qt" style="background: #fff;">
				<script type="text/template" id="tpl">
					<%_.each(obj,function(e,i){%>
					<div class="withdrawals-crad-con" style="padding-top: 10px;margin-top: 15px;">
						<div class="withdrawals-crad-con-bg">
							<div class="mui-row">
								<div class="mui-col-xs-8 mui-col-sm-8">
									<img class="card_icon" src="../../img/@2xicon_jsyh.png" width="30px" style="vertical-align:middle;">
									<span style="font-size:14px;color:#fff;">
                                <%=e.opn_bnk_desc%>
                                <span style="font-size:12px;">
                                    （尾号
                                    <span><%=(e.stl_oac).substr(-4,4)%></span>）
									</span>
									</span>
								</div>
								<div class="mui-col-xs-4 mui-col-sm-4" style="text-align:right;">
									<span style="font-size:12px;color:#fff;opacity:0.7;vertical-align:sub;">可提现金额(元)</span>
								</div>
							</div>
							<p id="card_limit">
								<%=formatNum(e.card_limit)%>
							</p>
						</div>
						<!-- 输入框错误样式 -->
						<div class="error_input">
							<span class="error_input_span">!<span>
                </div>
                <div class="mui-row" style="background:#fff;padding:11px 15px;">
                    <div class="mui-col-xs-9 mui-col-sm-9 mui-input-row">
                        <label style="font-size:15px;padding:0;line-height: 30px;height: 30px;width: 10%;">￥ <span class="rmb_symbol">￥</span></label>
							<input class="card_cash txn_amt" type="text" placeholder="点击输入提现金额" oninput="amtChange(<%=i%>)" onfocus="hideFooter(<%=i%>)" onblur="showFooter(<%=i%>)" maxlength="10">
						</div>
						<div class="mui-col-xs-3 mui-col-sm-3" style="text-align:right;">
							<button onclick="withdrawAll(<%=i%>,<%=e.card_limit%>)" type="button" class="mui-btn mui-btn-outlined blue-btn" style="font-size:13px;padding:2px 8px;margin-top:3px;">全部提现</button>
						</div>
					</div>
					<!-- 多家门店 -->
					<% if(e.shop_info.length>1){ %>
					<div class="mui-content" style="background:#fff;border-bottom:1px solid #cdcdcd;">
						<ul class="mui-table-view withdrawals-zdq-ul">
							<li class="mui-table-view-cell mui-collapse">
								<a class="mui-navigate-right" href="#">
									<span style="width:200px;color:#666 !important;"><%= addEllipsis(e.shop_info[0].stoe_nm,17) %></span>
									<span style="float:right;padding-right:20px;font-size:12px;">用于<%=e.shop_info.length%>个门店</span>
								</a>
								<div id="more_shop" class="mui-collapse-content withdrawals-zdq-contenttext" style="margin-top:0;padding-top:2px;">
									<%_.each(e.shop_info,function(i,value){%>
									<% if(value!=0){ %>
									<p style="color:#666;">
										<%=e.shop_info[value].stoe_nm%>
									</p>
									<% }  %>
									<% }) %>
								</div>
							</li>
						</ul>
					</div>
					<% } else { %>
					<!-- 一家门店 -->
					<div class="mui-row" style="padding:11px 15px;background:#fff;">
						<div class="mui-col-xs-9 mui-col-sm-9">
							<span style="font-size:13px;color:#666;"><%= addEllipsis(e.shop_info[0].stoe_nm,17) %></span>
						</div>
						<div class="mui-col-xs-3 mui-col-sm-3" style="font-size:12px;text-align:right;color:#666;">
							用于1个门店
						</div>
					</div>
					<% } %>
			</div>
			<% }) %>
			</script>
		</div>

		</div>

		<div style="height:80px;"></div>
		<!-- 固定底部工具栏 -->
		<div class="cash-fixed-footer">
			<div class="mui-row">
				<div class="mui-col-xs-7 mui-col-sm-7">
					<p style="margin-bottom:5px;">
						合计提现金额
						<span class="cash-fixed-footer-text">
                        ￥<span id="total_wd">0.00</span>
						</span>
					</p>
					<p>
						合计手续费<span class="vis-hid">费</span>
						<span class="cash-fixed-footer-text">
                        ￥<span id="total_wd_fee">0.00</span>
						</span>
					</p>
				</div>
				<div class="mui-col-xs-5 mui-col-sm-5" style="text-align:right;">
					<button type="button" disabled class="mui-btn confirm-withdraw-btn" onclick="toEnchashment()">确认提现</button>
				</div>
			</div>
		</div>
		<!-- 弹框 4s后消失 -->
		<div class="withdrawals-mask">
			<div class="withdrawals-dialog">
				<img src="../../img/zhifushibai_icon_shiba@2x.png" width="45px">
				<p style="font-size: 16px;color: #666666;margin-top:5px;">提现申请失败</p>
				<p id="withdraw_errmsg"></p>
				<button type="button" class="mui-btn" onclick="closeWdDialog()" style="width:80%;margin:5px 10% 0 10%;border-radius:50px;padding:9px 12px;color:#999;">返回</button>
			</div>
		</div>
		<div class="withdrawals-mask" id="colseWithdraw">
			<div class="cash-fixed-footer" style="text-align: center; padding: 0px;">
				<p style="color: #333333;" onclick="openWithdrawDialog2()">关闭提现服务</p>
				<div style="height: 6px; background: #EEEEEE; width: 100%;"></div>
				<p onclick="closeWithdrawDialog()" style="color: #666666;">取消</p>
			</div>
		</div>
		<div class="colseWithdraw2-mask" id="colseWithdraw2">
			<div class="colseWithdraw2-dialog">
				<p class="colseWithdraw2-title">关闭提现须知</p>
				<ul>
					<li class="colseWithdraw2-li">受理时间：8:00-22:00</li>
					<li class="colseWithdraw2-li">当天未发起提现，可申请关闭提现服务</li>
					<li class="colseWithdraw2-li">如需开通提现，只需要重新申请开通即可</li>
				</ul>
				<div class="btn_div">
					<button type="button" class="mui-btn mui-btn-primary mui-btn-outlined" onclick="closeWithdrawDialog2()">再考虑下</button>
					<button type="button" class="mui-btn mui-btn-primary" onclick="colsePutForward()">确认关闭</button>
				</div>
				<div class="screen-img2">
					<img src="../../img/btn_cancel@2x.png" onclick="closeWithdrawDialog2()" />
				</div>
			</div>

		</div>

		<script src="../../js/utils.js"></script>
		<script src="../../js/api.js"></script>
		<script src="../../js/storage.js"></script>
		<!-- <script src="../../js/zepto.min.js"></script> -->
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="../../js/underscore-min.js"></script>
		<script src="../../js/bodymovin.js"></script>
		<script src="../../js/loadingConfig.js"></script>
		<script src="//at.alicdn.com/t/font_489463_0e4fz16ytlu15rk9.js"></script>
		<!--<script src=https://cdn.bootcss.com/eruda/1.4.3/eruda.min.js></script>-->
		<script type="text/javascript" charset="utf-8">
			mui.init();
			//eruda.init();
			var tplRender = _.template($("#tpl").html());
			mui("#wd_mercnm")[0].innerText = getUrlParams("merc_nm");
			mui('#colse').popover('toggle');
			// alert(screen.height);
			//安卓机增加页面长度 支持scrollTop滚动
			try {
				var u = navigator.userAgent;
				var isAndroid = u.indexOf("Android") > -1 || u.indexOf("Adr") > -1; //android终端
				var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
				if(isAndroid) {
					//mui("body")[0].style.minHeight = (Number(screen.height) + 100) + 'px';
				}
			} catch(error) {
				console.log(error);
			};
			// mui("body")[0].style.minHeight = (Number(screen.height) + 100)+'px';

			var resAllList, CardInfo = [];
			var Card_to_shop_arr1 = [],
				tot_fee_arr = [];
			var all_amt_mercList = [],
				all_pre_fee = [],
				error_input_arr = [];
			var Card_to_shop_arr2 = [];
			var zonge = 0.00;
			var merc_rate = 0.0002; //商户费率
			var card_wd_limit_max = 50000; //单笔额度上限
			var card_wd_limit_min = 1; //单笔额度下限
			var overTime = false; //默认没有超过时间
			var user_info = sessionFetch("user_info");
			var total_wd = 0.00,
				total_wd_fee = 0.00; //总金额、总手续费
			var min_withdarw_time = 800,
				max_withdarw_time = 2200; //提现起始时间与结束时间
			var total_wd_fee_all
			var total_wd_all
			getWithdrawalsInfo2();
			getEnchashLimit();

			function isOverTime() {
				//是否在提现时间内 可提现额度是否为0
				var timeNow = formatTime(Date.now());
				if( /*(min_withdarw_time < Number(timeNow) && Number(timeNow) < max_withdarw_time) && */ Number(zonge) >= card_wd_limit_min) {
					return false;
				} else {
					return true;
				}
			};
			//获取单笔提现数据
			function getEnchashLimit() {
				if(user_info != '[]') {
					//var user_info_json = JSON.parse(user_info);
					getUrlParams("usr_no")
					var data = {
						"contentTyp": "application/json",
						"characterSet": "GBK",
						"sys_cnl": "app",
						"version": user_info.version,
						"opSys": user_info.opSys,
						"token_id": user_info.token_id,
						"usr_no": user_info.usr_no,
						"usr_typ": user_info.usr_typ,
						"merc_id": getUrlParams("merc_id")
					};
					mui(".loading")[0].style.display = "block";
					mui.ajax(API.GETEXPLANTEXT, {
						data: data,
						dataType: 'json',
						type: 'post',
						contentType: "application/json; charset=utf-8",
						success: function(res) {
							if(res.repCode === "000000") {
								if(res.pay_sig_max !== null) {
									card_wd_limit_max = res.pay_sig_max;
									//card_wd_limit_max = 1000;
								}
								if(res.pay_day_min !== null) {
									card_wd_limit_min = res.pay_day_min;
								}
								if(res.service_fee !== null) {
									merc_rate = res.service_fee * 0.01;
								}
							} else {
								mui.alert(res.repMsg);
							}
							mui(".loading")[0].style.display = "none";
						},
						error: function(xhr, type, errorThrown) {
							console.log(type);
							console.log(xhr);
							mui.alert("服务器开小差啦，请稍后再试");
						}
					});
				} else {
					mui.alert("开通数据为空，请重新登录");
				}
			}
			//获取银行卡信息
			function getWithdrawalsInfo2() {
				var data = {
					"contentTyp": "application/json",
					"characterSet": "GBK",
					"sys_cnl": "app",
					"version": user_info.version,
					"opSys": user_info.opSys,
					"token_id": user_info.token_id,
					"usr_no": user_info.usr_no,
					"usr_typ": user_info.usr_typ,
					"merc_id": getUrlParams("merc_id")
				};

				mui(".loading")[0].style.display = "block";
				mui.ajax(API.GETENCHASHINFO, {
					// mui.ajax("test.json", {
					data: data,
					dataType: 'json',
					type: 'post',
					// type: 'get',
					contentType: "application/json; charset=utf-8",
					success: function(res) {
						// mui(".loading")[0].style.display = "none";
						console.log(res);
						if(res.repCode === "000000") {
							resAllList = [];
							CardInfo = [];
							$("#withdrawals_qt").html("");
							if(res.mercList && res.mercList.length !== 0) {
								mui("#wd_mercnm")[0].innerText = res.mercList[0].merc_nm;
								resAllList = res.mercList;
								var CardInfo_arr = [],
									CardLimit_arr = [],
									Card_to_shop_arr = [],
									ShopLimit_arr = [];

								zonge = 0.00;

								for(var i = 0; i < resAllList.length; i++) {
									if(resAllList[i].flag === "0") {
										//遍历银行卡
										CardInfo_arr.push(resAllList[i].stl_oac);
										if(isTakeEffect(resAllList[i].effect_date)) {
											//该商户可提现总额
											zonge = accAdd(zonge, Number(resAllList[i].balance));
											//zonge += Number(resAllList[i].balance);
										}
										//遍历门店号
										Card_to_shop_arr2.push(resAllList[i].stoe_id);
									}
								}
								mui("#merc_Unsettled")[0].innerText = formatNum(zonge);

								CardInfo_arr = arrayRemoval(CardInfo_arr);
								Card_to_shop_arr2 = arrayRemoval(Card_to_shop_arr2);

								console.log("开通的银行卡CardInfo_arr", CardInfo_arr);
								console.log("开通的门店号Card_to_shop_arr2", Card_to_shop_arr2);

								//结算卡张数
								mui("#card_length")[0].innerText = CardInfo_arr.length;

								for(var i = 0; i < resAllList.length; i++) {
									//归类银行卡
									for(var j = 0; j < CardInfo_arr.length; j++) {
										if(resAllList[i].stl_oac == CardInfo_arr[j]) {
											// console.log("匹配银行卡+1");
											if(resAllList[i].flag === "0") {
												//银行卡额度
												if(CardLimit_arr[j] === undefined) {
													CardLimit_arr[j] = 0.00;
												}
												if(isTakeEffect(resAllList[i].effect_date)) {
													CardLimit_arr[j] = accAdd(CardLimit_arr[j], Number(resAllList[i].balance))
													//CardLimit_arr[j] += Number(resAllList[i].balance);
												}
												//银行卡对象数组
												Card_to_shop_arr1[j] = {
													"opn_bnk_desc": resAllList[i].opn_bnk_desc,
													"stl_oac": resAllList[i].stl_oac,
													"card_limit": CardLimit_arr[j] || 0,
													"shop_info": []
												};
											} else {
												// console.log("未开通银行卡+1");
											}
										} else {
											// console.log("未匹配银行卡+1");
										}
									};
									//归类门店
									for(var k = 0; k < Card_to_shop_arr2.length; k++) {
										if(resAllList[i].flag == "0") {
											if(resAllList[i].stoe_id == Card_to_shop_arr2[k]) {
												//门店信息 门店额度
												if(ShopLimit_arr[k] === undefined) {
													ShopLimit_arr[k] = 0.00;
												}
												ShopLimit_arr[k] = accAdd(ShopLimit_arr[k], Number(resAllList[i].balance))
												//ShopLimit_arr[k] += Number(resAllList[i].balance);

												Card_to_shop_arr2[k] = {
													"stoe_id": Number(resAllList[i].stoe_id),
													"stoe_nm": resAllList[i].stoe_nm,
													"merc_id": resAllList[i].merc_id,
													"stl_oac": resAllList[i].stl_oac,
													"reg_dt": Number(resAllList[i].reg_dt),
													"shopLimit": ShopLimit_arr[k] || 0
												}
											} else {
												// console.log("不匹配门店+1");
											}
										} else {
											// console.log("未开通门店+1");
										}
									};
								}
								// console.log("银行卡对象数组(不含门店信息)",Card_to_shop_arr1);
								// console.log("门店对象数组Card_to_shop_arr2",Card_to_shop_arr2);

								//银行卡匹配门店
								for(var k = 0; k < Card_to_shop_arr2.length; k++) {
									for(var q = 0; q < Card_to_shop_arr1.length; q++) {
										if(Card_to_shop_arr2[k].stl_oac == Card_to_shop_arr1[q].stl_oac) {
											Card_to_shop_arr1[q].shop_info.push(Card_to_shop_arr2[k]);
											// console.log(q,k,Card_to_shop_arr1[q].shop_info);
										}
									}
								}
								//门店号大小进行排序
								for(var i = 0; i < Card_to_shop_arr1.length; i++) {
									Card_to_shop_arr1[i].shop_info.sort(ArrObjcompare('stoe_id'));
								}
								//append view
								console.log("输出数组Card_to_shop_arr1", Card_to_shop_arr1);
								$("#withdrawals_qt").append(tplRender(Card_to_shop_arr1));

								//是否可以提现
								isBtnDisabled();
								//修改银行卡样式
								changeCardCss();
								//增加监听事件
								$(".card_cash").on('keyup', function(event) {
									var $amountInput = $(this);
									//响应鼠标事件，允许左右方向键移动 
									event = window.event || event;
									if(event.keyCode == 37 | event.keyCode == 39) {
										return;
									}
									if($amountInput.val().substr(0, 1) === ".") {
										$amountInput.val("0" + $amountInput.val())
									}
									//先把非数字的都替换掉，除了数字和. 
									$amountInput.val($amountInput.val().replace(/[^\d.]/g, "").
										//只允许一个小数点              
										replace(/^\./g, "").replace(/\.{2,}/g, ".").
										//只能输入小数点后两位
										replace(".", "$#$").replace(/\./g, "").replace("$#$", ".").replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3')

									);
									//回车时失焦 安卓设备上滑置顶
									if((event.keyCode || event.which) == 13) {
										$(".card_cash").blur();
										try {
											var u = navigator.userAgent;
											var isAndroid = u.indexOf("Android") > -1 || u.indexOf("Adr") > -1; //android终端
											var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
											if(isAndroid) {
												$('body').animate({
													scrollTop: 0
												}, 100);
											}
										} catch(error) {
											console.log(error);
										};
									}
								});
								$(".card_cash").on('blur', function() {
									var $amountInput = $(this);
									//最后一位是小数点的话，移除
									$amountInput.val(($amountInput.val().replace(/\.$/g, "")));
								});
								
								//获取auto_D0_flag的值
								if(res.auto_D0_flag == 1){
									mui(".loading")[0].style.display = "none";
									$('#mySwitch').addClass('mui-active')
									mui(".mui-switch-mini")[0].style.background = "green";
								}else{
									mui(".loading")[0].style.display = "none";
									$('#mySwitch').removeClass('mui-active')
								}

							} else {
								console.log("res.mercList不合法");
							}
							mui(".loading")[0].style.display = "none";
						} else if(res.repCode === "STM998") {
							mui(".loading")[0].style.display = "none";
							mui.alert(res.repMsg, "", "确定", function() {
								callLogOutApp();
							});
						} else {
							mui(".loading")[0].style.display = "none";
							mui.alert(res.repMsg);
							// window.location.href = "../common_pages/error_page.html?error_type=resError&error_code=" + res.repCode + "&error_msg=" + res.repMsg;
						}
												
					},
					error: function(xhr, type, errorThrown) {
						mui(".loading")[0].style.display = "none";
						console.log(type);
						console.log(xhr);
						mui.alert("服务器开小差啦，请稍后再试");
						// window.location.href = "../common_pages/error_page.html?error_type=serviceError";
					}
				});
			};
			//全部提现
			function withdrawAll(num, amt) {
				var all_amt = 0.00
				for(var i = 0; i < Card_to_shop_arr1[num].shop_info.length; i++) {
					if(Card_to_shop_arr1[num].shop_info[i].shopLimit > card_wd_limit_max) {
						all_amt = accAdd(all_amt, card_wd_limit_max)
					} else {
						all_amt = accAdd(all_amt, Card_to_shop_arr1[num].shop_info[i].shopLimit)
					}
				}
				mui(".txn_amt")[num].value = all_amt;
				/*if(amt > card_wd_limit_max*Card_to_shop_arr1[num].shop_info.length){
					mui(".txn_amt")[num].value = card_wd_limit_max*Card_to_shop_arr1[num].shop_info.length;			
				}else{
					mui(".txn_amt")[num].value = amt;
				}*/
				amtChange(num);
			};
			//input监听
			function amtChange(num) {
				//输入异常或为空
				var re = /^[0-9.]*$/g;
				var txn_amt_ls = filterBlank(mui(".txn_amt")[num].value);
				if(!re.test(txn_amt_ls)) {
					mui(".txn_amt")[num].value = ""
					return
				}
				if(txn_amt_ls != "" && Number(txn_amt_ls) < 1) {
					mui(".txn_amt")[num].value = ""
					return
				}
				if(txn_amt_ls == "0." || txn_amt_ls == ".") {
					mui(".txn_amt")[num].value = ""
					return
				}
				/*if(txn_amt_ls == "") {
					// mui(".rmb_symbol")[num].style.visibility = "hidden";
					error_input_arr.splice(num, 1);
				} else {
					// mui(".rmb_symbol")[num].style.visibility = "visible";
				}*/
				//金额输入不正确且input不为空
				console.log("txn_amt_ls: " + txn_amt_ls);
				if(((Number(txn_amt_ls) > Card_to_shop_arr1[num].card_limit) || Number(txn_amt_ls) > card_wd_limit_max * Card_to_shop_arr1[num].shop_info.length) && txn_amt_ls !== "") {
					mui(".txn_amt")[num].value = txn_amt_ls.substr(0, txn_amt_ls.length - 1);
					showToast("已超过可提现金额");
					return
				}

				if(Number(txn_amt_ls) < card_wd_limit_min && txn_amt_ls !== "") {
					mui(".error_input")[num].style.display = "block";
					error_input_arr[num] = true;
					isBtnDisabled();
					//return
				} else {
					mui(".error_input")[num].style.display = "none";
					error_input_arr[num] = false;
					/*if(txn_amt_ls == "") {
						error_input_arr.splice(num, 1);
					}*/
					isBtnDisabled();
				}

				//目前输入的金额
				var txn_amt_now = Number(mui(".txn_amt")[num].value) || 0;

				//如果大于两位小数 去除最后一位
				txn_amt_now = sliceFloat(txn_amt_now, 2);
				// console.log("txn_amt_now :"+txn_amt_now);

				total_wd = 0.00;
				total_wd_fee = 0.00;
				var pre_fee = [],
					Card_to_shop_arr3 = [],
					txn_amt_arr = [],
					amt_mercList = [];

				//总金额 不统计标红金额
				for(var i = 0; i < mui(".txn_amt").length; i++) {
					/*if(!error_input_arr[i]) {*/
					total_wd = accAdd(total_wd, Number(sliceFloat(mui(".txn_amt")[i].value, 2)));
					console.log("当前input金额" + i + ": " + Number(sliceFloat(mui(".txn_amt")[i].value, 2)) + "total_wd:" + total_wd);
					/*}*/
				}
				console.log("当前input金额: " + txn_amt_now);
				// total_wd>zonge

				//显示总金额
				//mui("#total_wd")[0].innerText = formatNum(total_wd);

				//过滤门店额度为0的
				for(var i = 0; i < Card_to_shop_arr1[num].shop_info.length; i++) {
					if(Card_to_shop_arr1[num].shop_info[i].shopLimit != "0") {
						Card_to_shop_arr3.push(Card_to_shop_arr1[num].shop_info[i])
					}
				}
				// console.log("过滤门店额度为0的Card_to_shop_arr3", Card_to_shop_arr3);

				//总手续费
				for(var i = 0; i < Card_to_shop_arr3.length; i++) {
					console.log("门店额度", Number(Card_to_shop_arr3[i].shopLimit), "当前金额", txn_amt_now);
					if(txn_amt_now != 0) {
						if(Number(Card_to_shop_arr3[i].shopLimit) >= txn_amt_now && txn_amt_now <= card_wd_limit_max) {
							//门店余额大于提现余额
							if((txn_amt_now * merc_rate) < 0.5) {
								pre_fee[i] = 0.5;
							} else {
								pre_fee[i] = Number((txn_amt_now * merc_rate).toFixed(2));
							}
							console.log("pre_fee" + i + ": " + pre_fee[i]);
							txn_amt_arr[i] = txn_amt_now;

							amt_mercList[i] = {
								"merc_id": getUrlParams("merc_id"),
								"stoe_id": Card_to_shop_arr3[i].stoe_id.toString(),
								"txn_amt": txn_amt_arr[i].toString(),
								"pre_fee": pre_fee[i].toString()
							}
							break;
						} else if(Number(Card_to_shop_arr3[i].shopLimit) >= txn_amt_now && txn_amt_now > card_wd_limit_max) {
							txn_amt_now = accSub(txn_amt_now, card_wd_limit_max)
							//txn_amt_now = txn_amt_now - card_wd_limit_max;
							if((Number(card_wd_limit_max) * merc_rate) < 0.5) {
								pre_fee[i] = 0.5;
							} else {
								pre_fee[i] = Number((Number(card_wd_limit_max) * merc_rate).toFixed(2));
							}
							console.log("pre_fee" + i + ": " + pre_fee[i]);
							console.log("当前手续费", pre_fee);

							txn_amt_arr[i] = card_wd_limit_max;

							amt_mercList[i] = {
								"merc_id": getUrlParams("merc_id"),
								"stoe_id": Card_to_shop_arr3[i].stoe_id.toString(),
								"txn_amt": txn_amt_arr[i].toString(),
								"pre_fee": pre_fee[i].toString()
							}
						} else if(Number(Card_to_shop_arr3[i].shopLimit) < txn_amt_now && txn_amt_now <= card_wd_limit_max) {
							txn_amt_now = accSub(txn_amt_now, Number(Card_to_shop_arr3[i].shopLimit))
							//txn_amt_now = txn_amt_now - Number(Card_to_shop_arr3[i].shopLimit);
							if((Number(Card_to_shop_arr3[i].shopLimit) * merc_rate) < 0.5) {
								pre_fee[i] = 0.5;
							} else {
								pre_fee[i] = Number((Number(Card_to_shop_arr3[i].shopLimit) * merc_rate).toFixed(2));
							}
							console.log("pre_fee" + i + ": " + pre_fee[i]);
							console.log("当前手续费", pre_fee);

							txn_amt_arr[i] = Card_to_shop_arr3[i].shopLimit;

							amt_mercList[i] = {
								"merc_id": getUrlParams("merc_id"),
								"stoe_id": Card_to_shop_arr3[i].stoe_id.toString(),
								"txn_amt": txn_amt_arr[i].toString(),
								"pre_fee": pre_fee[i].toString()
							}
						} else if(Number(Card_to_shop_arr3[i].shopLimit) < txn_amt_now && txn_amt_now > card_wd_limit_max) {
							if(Number(Card_to_shop_arr3[i].shopLimit) > card_wd_limit_max) {
								txn_amt_now = accSub(txn_amt_now, card_wd_limit_max)
								//txn_amt_now = txn_amt_now - Number(Card_to_shop_arr3[i].shopLimit);
								if((Number(card_wd_limit_max) * merc_rate) < 0.5) {
									pre_fee[i] = 0.5;
								} else {
									pre_fee[i] = Number((Number(card_wd_limit_max) * merc_rate).toFixed(2));
								}
								console.log("pre_fee" + i + ": " + pre_fee[i]);
								console.log("当前手续费", pre_fee);

								txn_amt_arr[i] = card_wd_limit_max;

								amt_mercList[i] = {
									"merc_id": getUrlParams("merc_id"),
									"stoe_id": Card_to_shop_arr3[i].stoe_id.toString(),
									"txn_amt": txn_amt_arr[i].toString(),
									"pre_fee": pre_fee[i].toString()
								}
							} else {
								txn_amt_now = accSub(txn_amt_now, Number(Card_to_shop_arr3[i].shopLimit))
								//txn_amt_now = txn_amt_now - Number(Card_to_shop_arr3[i].shopLimit);
								if((Number(Card_to_shop_arr3[i].shopLimit) * merc_rate) < 0.5) {
									pre_fee[i] = 0.5;
								} else {
									pre_fee[i] = Number((Number(Card_to_shop_arr3[i].shopLimit) * merc_rate).toFixed(2));
								}
								console.log("pre_fee" + i + ": " + pre_fee[i]);
								console.log("当前手续费", pre_fee);

								txn_amt_arr[i] = Card_to_shop_arr3[i].shopLimit;

								amt_mercList[i] = {
									"merc_id": getUrlParams("merc_id"),
									"stoe_id": Card_to_shop_arr3[i].stoe_id.toString(),
									"txn_amt": txn_amt_arr[i].toString(),
									"pre_fee": pre_fee[i].toString()
								}
							}

						}
					}
				}
				console.log("当前input信息amt_mercList", amt_mercList);

				//当前总手续费
				all_pre_fee[num] = 0;
				for(var i = 0; i < pre_fee.length; i++) {
					all_pre_fee[num] = accAdd(all_pre_fee[num], (pre_fee[i]));
					//all_pre_fee[num] += (pre_fee[i]);
				}
				// console.log("当前手续费array: ",pre_fee);
				// console.log("手续费array: ",all_pre_fee);

				//总手续费
				for(var i = 0; i < all_pre_fee.length; i++) {
					total_wd_fee = accAdd(total_wd_fee, Number(all_pre_fee[i]) || 0)
					//total_wd_fee += Number(all_pre_fee[i]) || 0;
				}
				mui("#total_wd_fee")[0].innerText = formatNum(total_wd_fee);
				mui("#total_wd")[0].innerText = formatNum(accSub(total_wd, total_wd_fee));
				console.log("总手续费: " + total_wd_fee + "总金额: " + formatNum(accSub(total_wd, total_wd_fee)));
				total_wd_fee_all = total_wd_fee;
				total_wd_all = accSub(total_wd, total_wd_fee);
				all_amt_mercList[num] = amt_mercList;
				console.log("总手续费分隔数组: ", all_amt_mercList);
			};
			//确认提现
			function toEnchashment() {
				if(card_wd_limit_max * (Card_to_shop_arr2.length) < Number(total_wd) || Number(total_wd) < card_wd_limit_min) {
					mui.alert("提现金额需在" + card_wd_limit_min + "元与" + card_wd_limit_max * Card_to_shop_arr2.length + "元之间");
					return
				}
				var all_input_money = 0.00;
				for(var i = 0; i < mui(".txn_amt").length; i++) {
					if(!error_input_arr[i]) {
						all_input_money = accAdd(all_input_money, Number(mui(".txn_amt")[i].value));
					}
				}
				/*total_wd_fee = Number(mui("#total_wd_fee")[0].innerText);
				total_wd = mui("#total_wd")[0].innerText;*/
				console.log("111111111" + Number(accAdd(total_wd_fee, total_wd)) + "total_wd_fee" + mui("#total_wd_fee")[0].innerText + "total_wd" + mui("#total_wd")[0].innerText)
				if(accAdd(total_wd_fee_all, total_wd_all) != Number(all_input_money)) {
					console.log("总手续费+提现：" + accAdd(total_wd_fee_all, total_wd_all) + "Number(all_input_money)：" + Number(all_input_money));
					mui.alert("数据出错请重新输入", "", "确定", function() {
						location.reload();
					});
					return
				}
				mui(".confirm-withdraw-btn")[0].disabled = false;
				//拼接金额数组
				var mercList = [];
				for(var i = 0; i < all_amt_mercList.length; i++) {
					if(all_amt_mercList[i] != null) {
						mercList = mercList.concat(all_amt_mercList[i]);
					}
				}
				console.log("mercList", mercList);

				var data = {
					"contentTyp": "application/json",
					"characterSet": "GBK",
					"sys_cnl": "app",
					"version": user_info.version,
					"opSys": user_info.opSys,
					"token_id": user_info.token_id,
					"usr_no": user_info.usr_no,
					"usr_typ": user_info.usr_typ,
					"tot_amt": total_wd.toString(),
					"tot_fee": total_wd_fee.toString(),
					"tot_cnt": mercList.length.toString(),
					"mercList": mercList
				};
				console.log(data);

				mui(".loading")[0].style.display = "block";
				mui.ajax(API.ENCHASHMENT, {
					data: data,
					dataType: 'json',
					type: 'post',
					contentType: "application/json; charset=utf-8",
					success: function(res) {
						mui(".loading")[0].style.display = "none";
						mui(".confirm-withdraw-btn")[0].disabled = true;
						console.log(res);

						if(res.repCode === "000000") {
							mui.openWindow({
								url: 'withdrawals_succeess.html?wd_mercid=' + getUrlParams("merc_id")
							});

						} else if(res.repCode === "STM998") {
							mui.alert(res.repMsg, "", "确定", function() {
								callLogOutApp();
							});
						} else {
							// mui.alert('错误代号：' + res.repCode + ' 错误原因：' + res.repMsg);
							// window.location.href = "../common_pages/error_page.html?error_type=resError&error_code=" + res.repCode + "&error_msg=" + res.repMsg;
							mui("#withdraw_errmsg")[0].innerText = res.repMsg || res.repCode || "";
							openWdDialog();
						}
					},
					error: function(xhr, type, errorThrown) {
						mui(".loading")[0].style.display = "none";
						console.log(type);
						console.log(xhr);
						mui.alert("服务器开小差啦，请稍后再试");
						// window.location.href = "../common_pages/error_page.html?error_type=serviceError";
						mui(".confirm-withdraw-btn")[0].disabled = true;
					}
				});
			};
			//按钮是否置灰
			function isBtnDisabled() {
				isBtnDisabled_ls = true;
				isErrorInput = false;
				for(var i = 0; i < mui(".txn_amt").length; i++) {
					var txn_amt_ls = filterBlank(mui(".txn_amt")[i].value);
					if(txn_amt_ls != 0 && txn_amt_ls != null) {
						isBtnDisabled_ls = false
					}
				}

				for(var i = 0; i < error_input_arr.length; i++) {
					if(error_input_arr[i]) {
						isErrorInput = true;
					}
				}
				console.log("error_input_arr", error_input_arr);
				console.log("isOverTime", isOverTime());
				console.log("isBtnDisabled_ls", isBtnDisabled_ls);
				console.log("error_input_arr.length", error_input_arr.length);
				console.log("error_input_arr.length", isErrorInput)
				mui(".confirm-withdraw-btn")[0].disabled = isBtnDisabled_ls || isOverTime() || isErrorInput;
			};
			//to 明细
			function toWithDrawalsDetail() {
				mui.openWindow({
					url: 'withdrawals_detail.html?wd_mercid=' + getUrlParams("merc_id")
				});
			};
			//to 提现说明
			function toWithDrawalsIntro() {
				mui.openWindow({
					url: 'withdrawals_explain.html?wd_mercid=' + getUrlParams("merc_id")
				});
			};

			function hideFooter(num) {
				/*mui(".div_main").height = "120%";*/
				var isAndroid = u.indexOf("Android") > -1 || u.indexOf("Adr") > -1; //android终端
				if(isAndroid && mui(".txn_amt").length == num + 1) {
					var oDiv = document.getElementById('div_main');
					oDiv.style.height = mui(".txn_amt").length * 30 + 90 + '%';
					mui(".txn_amt")[num].scrollIntoView(true);
				}
			};

			function showFooter(num) {
				var isAndroid = u.indexOf("Android") > -1 || u.indexOf("Adr") > -1; //android终端
				if(isAndroid) {
					var oDiv = document.getElementById('div_main');
					oDiv.style.height = '';
				}
				/*var winHeight = $(window).height(); //获取当前页面高度  
				var div_main = document.getElementsByClassName("div_main")
				var thisHeight = $(this).height();
				div_main.setAttribute("style", "height: 100%;")*/
				/*$('body').animate({
							scrollTop: 100 - num * 50
						}, 100);*/
				//mui(".cash-fixed-footer")[0].style.display = "block";
				// try {
				//     var u = navigator.userAgent;
				//     var isAndroid = u.indexOf("Android") > -1 || u.indexOf("Adr") > -1; //android终端
				//     var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
				//     if(isiOS){
				//         mui(".txn_amt")[num].style.position = "static";
				//     }
				// } catch (error) {
				//     console.log(error);
				// };

			};
			//打开弹框 4s后自动关闭
			function openWdDialog() {
				mui(".withdrawals-mask")[0].style.display = "block";
				mui("body")[0].style.position = "fixed";
				setTimeout('closeWdDialog()', 4000);
			};
			//关闭弹框
			function closeWdDialog() {
				mui(".withdrawals-mask")[0].style.display = "none";
				mui("body")[0].style.position = "static";
			};

			//打开关闭提现弹框 
			function openWithdrawDialog() {
				mui("#colseWithdraw")[0].style.display = "block";
				//mui("body")[0].style.position = "fixed";
			};
			//关闭关闭提现弹框
			function closeWithdrawDialog() {
				mui("#colseWithdraw")[0].style.display = "none";
				mui("body")[0].style.position = "static";
			};

			//打开关闭提现弹框 
			function openWithdrawDialog2() {
				closeWithdrawDialog();
				mui("#colseWithdraw2")[0].style.display = "block";
				//mui("body")[0].style.position = "fixed";
			};
			//关闭关闭提现弹框
			function closeWithdrawDialog2() {
				mui("#colseWithdraw2")[0].style.display = "none";
				//mui("body")[0].style.position = "static";
			};

			//			//关闭提现
			function colsePutForward() {
				closeWithdrawDialog2()
				mui(".loading")[0].style.display = "block";
				//拼接金额数组
				var stoeList = [];
				for(var i = 0; i < Card_to_shop_arr2.length; i++) {
					stoeList[i] = {
						"merc_id": Card_to_shop_arr2[i].merc_id,
						"stoe_id": Card_to_shop_arr2[i].stoe_id
					}
				}
				console.log("stoeList", stoeList);

				var data = {
					"contentTyp": "application/json",
					"characterSet": "GBK",
					"sys_cnl": "app",
					"version": user_info.version,
					"opSys": user_info.opSys,
					"token_id": user_info.token_id,
					"usr_no": user_info.usr_no,
					"usr_typ": user_info.usr_typ,
					"tot_cnt": stoeList.length.toString(),
					"stoeList": stoeList
				};
				console.log("data", data);
				mui.ajax(API.CLOSEENCHASHAUTH, {
					data: data,
					dataType: 'json',
					type: 'post',
					contentType: "application/json; charset=utf-8",
					success: function(res) {
						mui(".loading")[0].style.display = "none";
						console.log(res);

						if(res.repCode === "000000") {
							//							mui.openWindow({
							//								url: 
							//							});
							mui.back()
							sessionSave("isColseToast","1")

						} else if(res.repCode === "STM998") {
							mui.alert(res.repMsg, "", "确定", function() {
								callLogOutApp();
							});
						} else {
							mui.alert(res.repMsg);
							// window.location.href = "../common_pages/error_page.html?error_type=resError&error_code=" + res.repCode + "&error_msg=" + res.repMsg;
							//mui("#withdraw_errmsg")[0].innerText = res.repMsg || res.repCode || "";

						}
					},
					error: function(xhr, type, errorThrown) {
						mui(".loading")[0].style.display = "none";
						console.log(type);
						console.log(xhr);
						mui.alert("服务器开小差啦，请稍后再试");
					}
				});
			}

			//改变银行卡的样式 23种
			function changeCardCss() {
				for(var i = 0; i < Card_to_shop_arr1.length; i++) {
					//更改背景色
					// console.log(mui(".card_icon"));
					switch(Card_to_shop_arr1[i].opn_bnk_desc) {
						case "中国银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#F17567";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_zgyh.png");
							break;
						case "工商银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#F17567";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_gsyh.png");
							break;
						case "农业银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#54BFA7";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_nyyh.png");
							break;
						case "建设银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "rgba(4,120,255,.7)";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_jsyh.png");
							break;
						case "光大银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#8F55A2";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_gdyh.png");
							break;
						case "民生银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#54BFA7";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_msyh.png");
							break;
						case "兴业银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "rgba(4,120,255,.7)";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_xyyh.png");
							break;
						case "交通银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "rgba(4,120,255,.7)";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_jtyh.png");
							break;
						case "中兴银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#F17567";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_zxyh.png");
							break;
						case "浙商银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#F17567";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_zhesyh.png");
							break;
						case "邮政银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#54BFA7";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_yzyh.png");
							break;
						case "城市发展银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#F17567";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_csfzyh.png");
							break;
						case "渤海银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "rgba(4,120,255,.7)";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_bhyh.png");
							break;
						case "农村信用社":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#54BFA7";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_ncxys.png");
							break;
						case "农业新闻":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#54BFA7";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_nyxw.png");
							break;
						case "恒丰银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "rgba(4,120,255,.7)";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_hfyh.png");
							break;
						case "招商银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#F17567";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_zsyh.png");
							break;
						case "深圳发展银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "rgba(4,120,255,.7)";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_szfzyh.png");
							break;
						case "上海浦发银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "rgba(4,120,255,.7)";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_shpdfz.png");
							break;
						case "微商银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#F17567";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_wsyh.png");
							break;
						case "广发银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#F17567";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_gfyh.png");
							break;
						case "华夏银行":
							mui(".withdrawals-crad-con-bg")[i].style.background = "#F17567";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_hxyh.png");
							break;

						default:
							mui(".withdrawals-crad-con-bg")[i].style.background = "rgba(4,120,255,.7)";
							mui(".card_icon")[i].setAttribute("src", "../../img/@2xicon_bank_default.png");
					}
				}
			};
			
			
			
					
			//自动提现
			document.getElementById("mySwitch").addEventListener("toggle",function(event){				
				//启动
				if(event.detail.isActive){
				    console.log("你启动了开关");	   						
					mui(".mui-switch-mini")[0].style.background = "green";						
					$('#box').show()
					$('.inner').show()					
				//关闭
				}else{
				    console.log("你关闭了开关"); 
				    update(0)
					$('#box').hide()
					mui(".mui-switch-mini")[0].style.background = "#E6E6E6";
					
				}  
			})
			

			//点击确定
			$('#ascertain').click(function(){
				$('#box').hide()
				update(1)
				$('.succ').show()
				setTimeout(function(){
					$('.succ').hide()
				},2000)
			})
			
			
			//点击取消
			$('#abrogate').click(function(){
				$('#box').hide()
				mui("#mySwitch").switch().toggle();
			})				
			
			
			function update(index){
				var data = {
					"contentTyp": "application/json",
					"characterSet": "GBK",
					"sys_cnl": "app",
					"version": user_info.version,
					"opSys": user_info.opSys,
					"token_id": user_info.token_id,
					"usr_no": user_info.usr_no,
					"usr_typ": user_info.usr_typ,
					"merc_id": getUrlParams("merc_id"),
					"auto_d0_flag":index
				};
				mui(".loading")[0].style.display = "block";
				mui.ajax(API.UPDAUTOD, {
					data: data,
					dataType: 'json',
					type: 'post',
					contentType: "application/json; charset=utf-8",
					success: function(res) {
											
						if(res.repCode === "000000") {
							mui(".loading")[0].style.display = "none";						

						}  else if(res.repCode === "STM998") {
							mui(".loading")[0].style.display = "none";
							mui.alert(res.repMsg, "", "确定", function() {
								callLogOutApp();
							});
						} else {
							mui(".loading")[0].style.display = "none";
							mui.alert(res.repMsg);
							// window.location.href = "../common_pages/error_page.html?error_type=resError&error_code=" + res.repCode + "&error_msg=" + res.repMsg;
						}
						mui(".loading")[0].style.display = "none";
						console.log(res)
					},
					error: function(xhr, type, errorThrown) {
						mui(".loading")[0].style.display = "none";
						console.log(type);
						console.log(xhr);
						mui.alert("服务器开小差啦，请稍后再试");
						// window.location.href = "../common_pages/error_page.html?error_type=serviceError";
					}
				})
			}
			
					
		</script>
	</body>

</html>