.tijiao {
  width: 100%;
  height: 100%;
  header {}
  .main {
    .sfz {
      .yd-cell-left {
        width: 3.3rem !important;
      }
    }
    .yd-cell {
      .yd-cell-left {
        width: 2.3rem;
      }
      .yd-cell-right {
        img {
          width: .56rem
        }
      }
    }
    .title {
      i {color:#f00;}
      padding: .266667rem .3rem;
      color: #000;
    }
    .vue-uploader {
      background: #fff;
    }
  }
  footer {
    .button {
      width: 9.2rem;
      background: #25A2F2;
      border-radius: 100px;
      height: 1.173333rem;
      margin: 20px auto;
    }
    .yd-btn-disabled {
      color: rgba(255, 255, 255, 0.5)
    }
  } //修改placeholder颜色
  input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #A5A5A5;
    /* placeholder字体大小  */
    font-size: 15px;
    /* placeholder位置  */
    //text-align: right;
  }
  .yd-cell-box {
    margin-bottom: 0px !important;
  }
  .bott {
    font-size: 14px;
    margin: 10px 0 0 0.5rem;
    a {
      color: #419BF9;
    }
    .yd-checkbox-text {
      font-size: 14px;
    }
  } // 遮罩层
  .yd-popup-show {
    border-radius: 5px !important;
    top: 40% !important;
    .yd-popup-content {
      height: 6.333333rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
        &:nth-child(1) {
          font-size: 18px;
        }
        &:nth-child(2) {
          margin: 0;
          color: #979797;
          margin-top: 10px;
          margin-bottom: 5px;
        }
        &:nth-child(3) {
          color: #979797;
          margin-bottom: 10px;
        }
      }
      .yd-cell-item {
        border: 1px solid #419BF9;
        border-radius: 100px;
        width: 6.4rem;
        height: 1.066667rem;
        margin-bottom: .2rem;
        .yd-cell-right {
          height: 1.066667rem;
          min-height: 0px;
          input {}
          .yzmbox {
            color: #25A2F2;
            width: 70px;
            border-left: 1px solid #A5A5A5;
            padding-left: .3rem;
            p {
              font-size: 14px;
              &.yzmStyle {
                color: #999;
                font-size: 14px;
              }
            }
          }
        }
      }
      .errStyle {
        color: #F3304C;
      }
      .button {
        width: 80%;
        background: #25A2F2;
        height: 1rem;
        margin: 0 auto;
        margin-top: .3rem;
      }

    } //修改placeholder颜色
    input::-webkit-input-placeholder {
      /* placeholder颜色  */
      color: #A5A5A5 !important;
      /* placeholder字体大小  */
      font-size: .2rem !important;
      /* placeholder位置  */
      //text-align: right;
    }
    .button:focus,
    .button:hover {
      color: #fff
    }
  }
}

.yd-actionsheet {
  max-height: 10rem !important;
  overflow: auto !important;
}
